doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title asheehan.io
    link rel="stylesheet" href="#{Routes.static_path(@conn, "/css/app.css")}"

  body
    main role="main" class="wrapper"
      = render "_navbar.html", conn: @conn
      .notify
        p.alert.alert-info role="alert" = get_flash(@conn, :info)
        p.alert.alert-danger role="alert" = get_flash(@conn, :error)
      .content-container
        = render @view_module, @view_template, assigns
    script type="text/javascript" src="#{Routes.static_path(@conn, "/js/app.js")}"

javascript:
  let mainNav = document.getElementById('js-menu');
  let navBarToggle = document.getElementById('js-navigation-toggle');

  navBarToggle.addEventListener('click', () => {
    mainNav.classList.toggle('active');
  });
