h2 Listing Players

table.table
  thead
    tr
      th Name
      th Games
      th Wins
      th Queen Games
      th Queen Wins
  tbody
    = for player <- @players do
      tr
        td= link(player.name, to: Routes.player_path(@conn, :show, player))
        td= player.stats.games
        td 
          | #{player.stats.wins} (#{player.stats.total_win_percent}%)
        td= player.stats.queen_games
        td
          | #{player.stats.queen_wins} (#{player.stats.queen_win_percent}%)

= link "New Player", to: Routes.player_path(@conn, :new)
