/* This file is for your main application css. */

@import "./phoenix.css";
@import "./navbar.scss";
@import "./custom.scss";
@import "./match_portal.scss";
@import "./player_table.scss";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

html, body {
  padding: 0;
  margin: 0;
}
