.navigation {
  .container {
    z-index: 2;
    position: fixed;
    top: 0;
    font-size: 18px;
    background-color: #57c1eb;
    border: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 70px;

    .navigation-toggle {
      position: absolute;
      top: 15px;
      right: 25px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
      font-size: 24px;
    }

    .logo {
      font-weight: 400;
      color: white;
      display: inline-block;
      font-size: 20px;
      margin-left: 20px;
      padding-top: 18px;
    }
    .main-nav {
      list-style-type: none;
      display: none;
      padding-top: 20px;

      &.active {
        display: block;
      }

      li {
        text-align: center;
        margin: 15px auto;
        .nav-links {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (min-width: 80.0rem) {
  .navigation {
    .container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;

      .navigation-toggle {
        display: none;
      }

      .logo {
        padding: 0;
      }

      .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;

        .nav-links {
          margin-left: 40px;
          &:hover {
            color: rgba(255, 255, 255, 1)
          }
        }
      }
    }
  }
}
