#player-table {
  h3 {
    margin-bottom: 0;
  }
  .player-name {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 4px;
  }
  .sprite:before {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    content: "";
    background-size: 30px 30px;
  }
  .blue-team,
  .gold-team {
    padding-bottom: 20px;
  }
  .blue-team {
    .queen:before {
      background-image: url('/images/sprites/blue_queen.png');
    }
    .checks:before {
      background-image: url('/images/sprites/blue_checks.png');
    }
    .skulls:before {
      background-image: url('/images/sprites/blue_skulls.png');
    }
    .abs:before {
      background-image: url('/images/sprites/blue_abs.png');
    }
    .stripes:before {
      background-image: url('/images/sprites/blue_stripes.png');
    }
  }
  .gold-team {
    .queen:before {
      background-image: url('/images/sprites/gold_queen.png');
    }
    .checks:before {
      background-image: url('/images/sprites/gold_checks.png');
    }
    .skulls:before {
      background-image: url('/images/sprites/gold_skulls.png');
    }
    .abs:before {
      background-image: url('/images/sprites/gold_abs.png');
    }
    .stripes:before {
      background-image: url('/images/sprites/gold_stripes.png');
    }
  }
}