= form_for @conn, @action, fn _ ->
  .form-group
    = for {id, name} <- @players do
      .player 
        label
          input type="checkbox" name="players[]" value="#{id}" checked="checked"
          | #{name}

  .form-group
    = submit "Create Game", class: "btn btn-primary"
