h2 Select Players

= render "_player_select_form.html", Map.put(assigns, :action, Routes.match_path(@conn, :create))

= link "Add Player", to: Routes.player_path(@conn, :new), class: "button button-clear"