#player-table.row
  .blue-team.column
    h3 Blue Team
    .queen.sprite 
      .player-name = @players[@data.blue_queen_id]
    .checks.sprite 
      .player-name = @players[@data.blue_checks_id]
    .skulls.sprite 
      .player-name = @players[@data.blue_skulls_id]
    .abs.sprite 
      .player-name = @players[@data.blue_abs_id]
    .stripes.sprite 
      .player-name = @players[@data.blue_stripes_id]

  .gold-team.column
    h3 Gold Team
    .queen.sprite 
      .player-name = @players[@data.gold_queen_id]
    .checks.sprite 
      .player-name = @players[@data.gold_checks_id]
    .skulls.sprite 
      .player-name = @players[@data.gold_skulls_id]
    .abs.sprite 
      .player-name = @players[@data.gold_abs_id]
    .stripes.sprite 
      .player-name = @players[@data.gold_stripes_id]
