h2 Listing Games

table.table
  thead
    tr
      th Victory type
      th Map
      th Victor
      th
  tbody
    = for game <- @games do
      tr
        td= game.victory_type
        td= game.map
        td= game.victor
        td class="text-right"
          = link "Show", to: Routes.game_path(@conn, :show, game), class: "btn btn-default btn-xs"
          | &nbsp;
          = link "Edit", to: Routes.game_path(@conn, :edit, game), class: "btn btn-default btn-xs"
          | &nbsp;
          = link "Delete", to: Routes.game_path(@conn, :delete, game), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs"

= link "New Game", to: Routes.game_path(@conn, :new)
