= link "Shuffle Teams", to: Routes.game_path(@conn, :new, shuffle: true), class: "button button-outline"

= render "form.html", Map.put(assigns, :action, Routes.game_path(@conn, :create))

= link "Games", to: Routes.game_path(@conn, :index), class: "button button-clear"
