h2 Show Game

ul
  li
    strong Blue Team:&nbsp;
    = @players[@game.blue_queen_id]
  li
    strong gold Team:&nbsp;
    = @players[@game.gold_queen_id]
  li
    strong Victory type:&nbsp;
    = @game.victory_type
  li
    strong Map:&nbsp;
    = @game.map
  li
    strong Victor:&nbsp;
    = @game.victor

= link "Edit", to: Routes.game_path(@conn, :edit, @game)
| &nbsp;
= link "Back", to: Routes.game_path(@conn, :index)
