= form_for @changeset, @action, fn f ->
  = if @changeset.action do
    .alert.alert-danger
      p Oops, something went wrong! Please check the errors below.
  .form-group
    = label f, :image, class: "control-label"
    = text_input f, :image, class: "form-control"
    = error_tag f, :image
  .form-group
    = submit "Submit", class: "btn btn-primary"
